.call-now-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 4px 8px 4px 3px;
    border-radius: 5px;
    border: 2px solid $seashell;
    color: $seashell;
    font-size: 1.8rem;

    svg {
        width: 21px;
        fill: $seashell;
        transform: rotate(270deg);
    }

    &.full-size {
        margin-left: 40px;
        padding: 0 12px 0 0;
        font-size: 2.4rem;

        svg {
            width: 48px;
        }
    }

    &:hover {

        border: 2px solid $yellow-green;

        svg {
            fill: $yellow-green;
        }
    }
}
