.pagination {

    padding-top: 16px;
    border-top: 4px solid $java;
    border-top: 4px solid var(--highlight-color-1);

    svg {
        display: inline-block;
        fill: $ocean-boat-blue;
        fill: var(--main-color);
    }

    .nav-links {
        display: flex;
        align-items: center;
    }

    .page-numbers,
    .post-page-numbers {
        padding: 0 4px;
        font-weight: bold;

        @include bp(min-sm) {
            padding: 0 8px;
        }
    }

    .prev,
    .next,
    .post-page-numbers {
        display: flex;
        align-items: center;

        &:hover {
            svg {
                fill: $picton-blue;
                fill: var(--highlight-color-2);
            }
        }
    }

    .prev,
    .post-page-numbers:first-of-type {
        margin-right: auto;
    }

    .next,
    .post-page-numbers:last-of-type {
        margin-left: auto;
    }

    .nav-prev-text,
    .nav-next-text {
        display: none;

        @include bp(min-sm) {
            display: inline;
        }
    }

}
