.clearfix {
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.phone-icon {
    transform: rotate(270deg);
}

.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;

    &.screen-reader-focusable:active, 
    &.screen-reader-focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip-path: none;
    }
}
