.clearfix {
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.phone-icon {
    transform: rotate(270deg);
}

.screen-reader-text {
    display: none;
}
