#footer {
    padding: 16px;
    background: $ocean-boat-blue;
    border-top: 4px solid $sea-serpent;

    @include bp(min-md){
        display: flex;
        align-items: baseline;
        padding: 32px;
    }

    @include bp(min-lg){
        padding: 48px;
    }

    a {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;

        &:hover {
            color: $yellow-orange;
        }
    }

    svg {
        fill: $yellow-green;
    }
}

#footer-content {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        margin-bottom: 0;
    }

    dt, dd {
        &:last-of-type {
            @include bp(min-md){
                margin-bottom: 0;
            }
        }
    }

    dt {
        width: 24px;
    }

    dd {
        width: calc(100% - 40px);
        margin-left: 16px;
    }

    a {
        text-transform: none;
    }
}

#copyright {
    display: flex;
    justify-content: space-between;
    margin-left: auto;

    span {
        display: inline-block;
        margin-left: 4px;
    }
}
