#site-header, #hidden-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    background: $ocean-boat-blue;
    background: var(--main-color);

    @include bp(min-md){
        padding: 20px;
    }

    @include bp(min-lg){
        padding: 25px;
    }

    img {
        display: block;
    }

    a {
        color: $my-white;
        color: var(--white);
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;

        &:hover {
            color: $java;
            color: var(--highlight-color-1);
        }

    }
}

#hidden-menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    width: 100%;
    min-height: 100vh;
    border-bottom: none;

    &:not(.hidden-menu) {
        left: -100%!important;
    }

    #close-menu {
        display: block;
    }
}

#hidden-menu,
#site-header.hidden-menu {
    @extend .clearfix;
    display: block;

    .custom-logo-link {
        float: left;
    }

    .nav-icons,
    .call-now-button {
        float: right;
    }

    .call-now-button {
        clear: right;
    }
}

#hidden-menu {
    display: none;
}