#header, #hidden-menu {
    display: flex;
    align-items: center;
    padding: 10px 10px 5px;
    background: $ocean-boat-blue;
    border-bottom: 5px solid $sea-serpent;

    @include bp(min-md){
        padding: 20px 20px 15px;
    }

    @include bp(min-lg){
        padding: 25px 25px 20px;
    }

    img {
        display: block;
    }
}

.site-title {
    border-bottom: 3px solid transparent;
    font-size: 2.4rem;

    &:hover {
        border-bottom: 3px solid $yellow-orange;
    }

    &.custom-logo-link {
        display: inline-block;
        vertical-align: middle;
        max-width: 125px;
        height: 75px;
        font-size: 3rem;

        &:hover {
            border-bottom: none;
        }
    }
}

#main-nav,
#cloned-nav {
    margin-top: -2.5px;
    margin-left: auto;

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            display: inline;
            flex-shrink:0;
            padding-left: 40px;

            &.current_page_item a {
                border-bottom: 3px solid $yellow-green;
            }
        }
    }
}

#main-nav,
#cloned-nav,
#mobile-nav {

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            &.current_page_item a {
                color: $yellow-green;
            }
        }
    }

    a {
        @extend .site-title;
    }

}

#mobile-nav {

    padding-top: 5px;

    @include bp(min-md){
        padding-top: 15px;
    }

    @include bp(min-lg){
        padding-top: 20px;
    }

    ul {
        border-top: 1px solid rgba(255, 255, 255, 0.5);

        li {
            padding: 13px 20px 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    a {
        display: flex;
        border-bottom: none;

        &:hover {
            border-bottom: none;
        }
    }
}

#open-menu,
#close-menu {
    display: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;

    svg {
        display: block;
        width: 36px;
        fill: $yellow-green;
    }

    &:hover svg {
        fill: $ruby;
    }
}

.mobile-icons {
    margin-left: auto;
}

#hidden-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    background: $ocean-boat-blue;
    border-bottom: none;

    &:not(.hidden-menu) {
        left: -100%!important;
    }

    #close-menu {
        display: block;
    }
}

#mobile-nav {
    clear: both;
}

#hidden-menu,
#header.hidden-menu {
    @extend .clearfix;
    display: block;

    .custom-logo-link {
        float: left;
    }

    .mobile-icons,
    .call-now-button {
        float: right;
    }

    .call-now-button {
        clear: right;
    }
}



#cloned-nav, #cloned-cta {
    display: block!important;
    position: fixed;
    bottom: -1000px;
}
