main:not(.home) {
    min-height: calc(100vh - 95px);
    padding: 24px 16px 66px;
    line-height: 1.4;

    @include bp(min-md){
        min-height: calc(100vh - 115px);
    }

    @include bp(min-lg){
        min-height: calc(100vh - 125px);
        padding: 24px 0 66px;
    }
}


article,
.error-404 {
    max-width: 600px;
    margin: 0 auto;
}
