p.has-drop-cap:not(:focus)::first-letter {
    margin: 10px 4px 0 0;
    font-family: 'Oswald', sans-serif;
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 1;
}

.alignleft {
    float: left;
    margin: 4px 24px 24px 0;
}

.alignright {
    float: right;
    margin: 4px 0 24px 24px;
}

.aligncenter {
    display: block;
    margin: 0 auto;

    &.wp-caption {
        margin-bottom: 16px;
    }
}

.alignwide {
    margin: 24px -16px;
    max-width: 100vw;

    @include bp(min-md) {
        max-width: 720px;
        margin: 24px -60px;
    }

    @include bp(min-lg) {
        max-width: 840px;
        margin: 24px -120px;
    }

    @include bp(min-xl) {
        max-width: 1080px;
        margin: 24px -240px;
    }
}

.alignfull {
    margin: 24px -16px;
    max-width: 100vw;

    @include bp(min-sm) {
        margin: 24px calc(-50vw + 50%);
    }
}

.wp-block-image {

    margin: 24px 0 24px;

    img {
        display: block;
    }

    figcaption {
        margin: 12px 0 0;
        font-size: 1.6rem;
        text-align: left;
    }

    .alignleft,
    .alignright,
    .aligncenter,
    &.alignwide,
    &.alignfull {
        figcaption {
            text-align: center;
        }
    }

    .alignleft {
        @extend .alignleft;
    }

    .alignright {
        @extend .alignright;
    }
}


.wp-block-image,
.wp-block-gallery,
.wp-block-cover {

    margin-bottom: 24px;

    &.alignwide {
       @extend .alignwide;
    }

    &.alignfull {
        @extend .alignfull;
    }

}

.wp-block-cover {
    @extend .wp-block-gallery;
    width: auto;
    color: white;

    a:hover {
        color: $java;
        color: var(--highlight-color-1);
    }   
}

.wp-block-quote {

    &:not(.is-large):not(.is-style-large) {
        @extend blockquote;
    }

    &.is-large {
        position: relative;
        margin-left: 4px;
        padding: 24px;
        background-color: $my-grey;
        background-color: var(--grey);
        border-left: 4px solid $picton-blue;
        border-left: 4px solid var(--highlight-color-2);
        font-size: 2.8rem;

        &:before {
            position: absolute;
            top: 0;
            left: -8px;
            bottom: 0;
            content: '';
            border-left: 4px solid $ocean-boat-blue;
            border-left: 4px solid var(--main-color);
        }
    }

    cite {
        font-size: 1.6rem;
    }
}

.wp-block-table {
    @extend table;
}

.wp-block-embed-youtube,
.wp-block-embed-vimeo,
.wp-block-embed-wordpress-tv {

    margin: 0 0 24px;

    .wp-block-embed__wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    figcaption {
        margin: 12px 0 0;
        font-size: 1.6rem;
        text-align: left;
    }
}

.wp-audio-shortcode {
    margin-bottom: 24px;
}

.wp-block-separator {
    margin: 0 auto 20px;
    border-color: $my-grey;
    border-color: var(--grey);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100%;
}

.wp-block-columns,
.wp-block-text-columns,
.wp-block-media-text {
    display: block;
    margin-bottom: 20px;

    @include bp(min-md) {
        display: flex;
        margin: 0 calc(-50vw + 320px) 20px;
    }

    @include bp(min-xl) {
        margin: 0 -270px 20px;

    }

    @include bp(min-xxl){
        &.alignwide {
            margin: 0 -370px 20px;
        }        
    }

    &.columns-2,
    &.has-2-columns {
        .wp-block-column {
            width: 100%;
            margin: 0 0 40px;

            @include bp(min-md) {
                flex-basis: calc(50% - 20px);
                margin: 0 20px 40px;
            }
        }
    }

    .wp-block-column {
        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.wp-block-group {
    margin: 0 -32px 20px;
    padding: 32px;
}

.wp-block-media-text .wp-block-media-text__content {
    padding: 20px 60px;
    max-width: 600px;
}

.wp-block-button__link {
    @extend .button;
    margin-bottom: 16px;

    .is-style-outline & {
        border: 4px solid;
    }
}

.wp-block-search .wp-block-search__button {
    @extend .button;
    margin: 8px 0 0;
}

.wp-block-latest {
    &-posts,
    &-comments {
        padding: 0;
    }
}

.wp-block-archives,
.wp-block-categories {
    &-dropdown {
        margin-bottom: 20px;
    }
}
