.wp-block-dining-dashboard-menu-item {
    margin: 0;
    border: 4px solid $sea-serpent;
    border-radius: 8px;

    @include bp(min-sm){
        display: flex;
    }

    .img {
        height: 150px;
        border-radius: 4px 4px 0 0;
        background-size: cover;
        background-position: center center;

        @include bp(min-sm){
            width: 200px;
            height: auto;
            border-radius: 4px 0 0 4px;
        }

        @include bp(min-md){
            width: 150px;
        }

        @include bp(min-lg){
            width: 200px;
        }
    }

    .details {
        margin: 12px;

        @include bp(min-sm){
            width: calc(100% - 200px);
        }

        @include bp(min-md){
            width: calc(100% - 150px);
        }

        @include bp(min-lg){
            width: calc(100% - 200px);
        }

        h3 {
            margin: 0 0 12px 0;
            line-height: 1;
        }

        p {
            margin: 0 0 12px 0;
        }
    }

    .meta {
        display: flex;
        align-items: center;
        margin-left: -3px;
    }

    svg {
        display: block;
        width: 32px;
        height: 32px;
    }

    .price {
        margin-left: auto;
    }
}
